<body class="pages-home">
  <%= render './layouts/navbar' %>
  <div class="banner-container">
    <div class="container">
      <div class="banner banner-top banner-gradient text-center" style="background-image: url(<%= asset_path 'enfant2.png' %>);" id="banner-program">
        <div class="banner-gradient-shadow"></div>
        <div class="banner-content">
          <h1 class='glitch'>
            <h1 class='mathlete'><%= raw t('about.title') %></h1>
          </h1>
          <p style="font-size: 26px;">
            <%= raw t('about.subtitle') %>
          </p>
        </div>
      </div>
      <div class='banner-cta'>
        <%= link_to raw(t('about.cta')), order_path, :class => "btn banner-cta-item btn-danger btn-lg", :style => "margin-left: 0px;" %>
      </div>
    </div>
  </div>
  <div class="container">
	  <div class="card-faqs">
<!-- 	  	<div class="card-faq-container">
	      <div class="card-faq">
	        <h3 class="card-faq-question">
	          The team
	        </h3>
	        <div class="card-faq-answer">
	          <p>Bonjour! I'm Nicolas, 30 years old, I bake awesome cookies, speak Russian, have amazing friends & family, and I want to live a happy and healthy life!</p>
	          <p>Do you want to know why an engineer started this business?</p>
	        </div>
	      </div>
	    </div> -->
	    <div class="card-faq-container">
	      <div class="card-faq">
	        <h3 class="card-faq-question">
	          The Grand-ma
	        </h3>
	        <div class="card-faq-answer">
	          <p>Nicolas' grandma - Claudette - taught him to bake great pastries and crispy golden bread. He still uses her own technique today and shared it with the team!</p>
	        </div>
	      </div>
	    </div>
	    <div class="card-faq-container">
	      <div class="card-faq">
	        <h3 class="card-faq-question">
	          The frustration
	        </h3>
	        <div class="card-faq-answer">
	          <p>We worked for so long behind screens, and our mind was truly at peace only when we were meeting with people, playing, fixing things, or... baking! None of us were raised to work with our hands, but we do enjoy it!</p>
	          <p>In today's world, it became simpler to trade a nice career for a nice lifestyle. We do enjoy meeting new people, working the dough: making other people experience these feeling at their home was a priority for us, we did not want an experience that only a baker in his boulangerie could provide.</p>
	          <p>You are actors, not watchers.</p>
	        </div>
	      </div>
	    </div>
	    <div class="card-faq-container">
	      <div class="card-faq">
	        <h3 class="card-faq-question">
	          The encounter(s)
	        </h3>
	        <div class="card-faq-answer">
	          <p>Two encounters were important in this decision: Rodrigue, a Parisian baker. We worked a full day with him and he reminded Nicolas that it's possible to bake bread at home. He had stopped doing it since his Grand Ma passed away when he was seven years old.</p>
	          <p>The other encounter is Nicolas with the Deseine family, Olivier & Constance. <a href="http://www.leparisien.fr/ablis-78660/auffreville-brasseuil-il-veut-devenir-le-meunier-local-d-ile-de-france-01-11-2016-6276309.php">Olivier</a> is one of France first organic miller, he started in 1972! He was kind enough to bring us his products and get interested in the project. And Constance his daughter, very involved in the tech industry, has shown an interest in the project that kept us going forward. Merci to them, and congratulations for your top quality products!</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
  <%= render './layouts/footer' %>
</body>