<body class="pages-show">
	<%= render './layouts/navbar' %>

	<div class="container">
	  <div class="card-faqs">
	    <div class="card-faq-container">
	      <div class="card-faq">
	        <h3 class="card-faq-question">
	        	<%= raw t('faq.question_1') %>
	        </h3>
	        <div class="card-faq-answer">
	        	<%= raw t('faq.answer_1') %>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="card-faqs">
	    <div class="card-faq-container">
	      <div class="card-faq">
	        <h3 class="card-faq-question">
	          <%= raw t('faq.question_2') %>
	        </h3>
	        <div class="card-faq-answer">
	        	<%= raw t('faq.answer_2') %>
	        </div>
	      </div>
	    </div>
	  </div>
<!-- 	  <div class="card-faqs">
	    <div class="card-faq-container">
	      <div class="card-faq">
	        <h3 class="card-faq-question">
	        	<%# raw t('faq.question_3') %>
	          What goes on during "autolyse step" when I mix flour & water ?
	        </h3>
	        <div class="card-faq-answer">
	          <p>Naturally, the yeast consumes the starch of the flour and releases CO2 and ethanol as byproducts. Also found in the flour is gluten, which becomes very elastic when in contact with water. This allows for the CO2 gas to be trapped inside the dough. This is what makes the dough rise and have large bubbles.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="card-faqs">
	    <div class="card-faq-container">
	      <div class="card-faq">
	        <h3 class="card-faq-question">
	          What goes on during "step 3" when I bake the dough?
	        </h3>
	        <div class="card-faq-answer">
	          <p>During baking, the ethanol evaporates very rapidly and some of the large CO2 bubbles burst with the heat and this is what explains the big cracks on the surface of the baguette.</p>
	          <p>Fun fact: The characteristic golden color and flavour of the crust comes from the Maillard reaction, which is the reaction between sugar and proteins, in this case starch and gluten.</p>
	        </div>
	      </div>
	    </div>
	  </div> -->
	  <div class="card-faqs">
	    <div class="card-faq-container">
	      <div class="card-faq">
	        <h3 class="card-faq-question">
	        	<%= raw t('faq.question_3') %>
	        </h3>
	        <div class="card-faq-answer">
	          <%= raw t('faq.question_3') %>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- <div class="card-faqs">
	    <div class="card-faq-container">
	      <div class="card-faq">
	        <h3 class="card-faq-question">
	          What’s the difference between baker’s yeast and baking powder?
	        </h3>
	        <div class="card-faq-answer">
	            <p><strong>Baker’s yeast</strong> is alive and is actually made out of live mushrooms called Saccharomyces cerevisiae. When added to flour, the cells naturally produce CO2 and the gas creates bubbles that are trapped in the dough and make it rise. </p>
	            <p><strong>Baking powder</strong> is not alive, but rather made out of an acid and a base, which need to be in contact of water in order to react. The chemical reaction between the two automatically produce CO2 which makes the dough rise following the same logic as with the yeast.</p>
	        </div>
	      </div>
	    </div>
	  </div> -->
	</div>

	<%= render './layouts/footer' %>

</body>