<body class="pages-home">
  <%= render './layouts/navbar' %>
  <div class="banner-container">
    <div class="container">
      <div class="banner banner-top banner-gradient text-center" style="background-image: url(<%= asset_path 'metro2.png' %>);" id="banner-program">
        <div class="banner-gradient-shadow"></div>
        <div class="banner-content">
          <h1 class='glitch'>
            <h1 class='mathlete'><%= raw t('history.title') %></h1>
          </h1>
          <p style="font-size: 26px;">
            <%= raw t('history.subtitle') %>
          </p>
        </div>
      </div>
      <div class='banner-cta'>
        <%= link_to raw(t('history.cta')), order_path, :class => "btn banner-cta-item btn-danger btn-lg", :style => "margin-left: 0px;" %>
      </div>
    </div>
  </div>
  <div class="container">
	  <div class="card-faqs">
<!-- 	  	<div class="card-faq-container">
	      <div class="card-faq">
	        <h3 class="card-faq-question">
	          The team
	        </h3>
	        <div class="card-faq-answer">
	          <p>Bonjour! I'm Nicolas, 30 years old, I bake awesome cookies, speak Russian, have amazing friends & family, and I want to live a happy and healthy life!</p>
	          <p>Do you want to know why an engineer started this business?</p>
	        </div>
	      </div>
	    </div> -->
	    <div class="card-faq-container">
	      <div class="card-faq">
	        <h3 class="card-faq-question">
	          <%= raw t('history.napoleon') %>
	        </h3>
	        <div class="card-faq-answer">
	          <%= raw t('history.napoleon_description') %>
	        </div>
	      </div>
	    </div>
	    <div class="card-faq-container">
	      <div class="card-faq">
	        <h3 class="card-faq-question">
	          <%= raw t('history.austria') %>
	        </h3>
	        <div class="card-faq-answer">
	          <%= raw t('history.austria_description') %>
	        </div>
	      </div>
	    </div>
	    <div class="card-faq-container">
	      <div class="card-faq">
	        <h3 class="card-faq-question">
	        	<%= raw t('history.parismetro') %>
	        </h3>
	        <div class="card-faq-answer">
	        	<%= raw t('history.parismetro_description') %>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
  <%= render './layouts/footer' %>
</body>