<body class="pages-home">
  <%= render './layouts/navbar' %>
  <div class="banner-container">
    <div class="container">
      <!-- <div class="banner banner-top banner-gradient text-center"> -->
      <div class="banner banner-top banner-gradient text-center" style="background-image: url(<%= image_path 'experience4.jpg' %>);">
        <!-- <div id="videoBlock"> 
          <video autoplay loop id="video-background" muted plays-inline>
            <source src="assets/experience.mp4" type="video/mp4">
          </video> -->
        <div class="banner-gradient-shadow home"></div>
          <!-- <div class="banner-content videoMessage"> -->
        <div class="banner-content">
          <h1 class='mathlete'><%= raw t 'home.title' %></h1>
          <h2>
             <%= raw t 'home.h2' %>
          </h2>
          <p>
            <%= raw t 'home.subtitle' %>
            <!-- <span>
              <i class="fa fa-play-circle-o"></i> See our video
              </span> -->
          </p>
        </div>
      </div>
      <div class='banner-cta'>
        <%# link_to raw(t('home.banner-workshop')), workshop_path, class: "banner-cta-item hidden-xs" %>
        <%= link_to raw(t('home.banner-recipe')), recipe_path, class: "banner-cta-item hidden-xs" %>
        <%= link_to raw(t('home.banner-order')), kits_path, class: "btn banner-cta-item btn-danger btn-lg" %>
      </div>
    </div>
  </div>
  <div class="features-wrapper up">
    <div class="container features-container">
      <h2 class='section-title-home'>
        <div class='section-title-home-content' style="font-size:30px;">
          <%= raw t 'home.headline' %>
        </div>
      </h2>
      <div class='features'>
        <div class='feature'>
          <div class='feature-header'>
            <div class='feature-icon yellow'>
              <i class='mdi mdi-timer'></i>
            </div>
            <h2 class='feature-title'>
              <%= raw t 'home.easy' %>
            </h2>
          </div>
          <div class='feature-body'>
            <%= raw t 'home.easytext' %>
            <a href="/recipe"><%= raw t 'home.easydetails' %></a>
            <br></br>
           <!--  <%# raw t 'home.hardtext' %>
            <a href="/recipe#hard-recipe"><%# raw t 'home.harddetails' %></a> -->
          </div>
        </div>
        <div class='feature'>
          <div class='feature-header'>
            <div class='feature-icon green'>
              <i class='mdi mdi-flag-variant'></i>
            </div>
            <h2 class='feature-title'>
              <%= raw t 'home.authentic' %>
            </h2>
          </div>
          <div class='feature-body'>
            <%= raw t 'home.authentictext' %>
          </div>
        </div>
        <div class='feature'>
          <div class='feature-header'>
            <div class='feature-icon purple'>
              <i class='mdi mdi-emoticon-excited'></i>
            </div>
            <h2 class='feature-title'>
              <%= raw t 'home.delicious' %>
            </h2>
          </div>
          <div class='feature-body'>
            <%= raw t 'home.delicioustext' %>
            <a href="https://www.airbnb.fr/experiences/85015"><%= raw t 'home.airbnbreviews' %></a>
            <br>
          </div>
        </div>
      </div>
      <div class="text-center" style="margin-top: 50px;">
        <a class="link-big" href="/recipe"><%= raw t 'home.read' %></a>
      </div>
    </div>
  </div>
  <%= render 'layouts/reviews' %>
  <!-- <div class="quote-overlay">
    <div class="container">
      <div class='quote'>
        <h2 class='section-title-home quote'>
          <div class='section-title-home-content quote-background'>
            BakeTaBaguette is rated <strong>first baking experience</strong> on Tripadvisor
          </div>
        </h2>
        <div class='techcrunch-view hidden-sm hidden-xs'>
          <a href='...' target='_blank'>
          <img src="..." alt="..." />
          </a>
        </div>
      </div>
    </div>
  </div> -->
  <div id="alumni-home">
    <div class="container">
      <h2 class='section-title-home' style="font-size:30px;">
        <div class='section-title-home-content'>
          <%= raw t 'home.baguettes' %>
        </div>
      </h2>
      <p class="text-muted text-center section-title-home-subtitle">
        <%= raw t 'home.baguettes_subtitle' %>
      </p>
      <div class="projects-list">
        <div class="project-item-container">
          <div class="project-item">
            <div class='project-item-head'>
              <div class="project-thumbnail" style="background: url(assets/baguette1.jpg);background-size:cover;background-position:center center;">
              </div>
            </div>
            <div class="project-item-infos">
              <div class="project-item-infos-left">
                <div class="project-item-name">
                  <%= raw t 'home.baguettes_baker1' %> 
                </div>
                <div class="project-item-tagline">
                  <%= raw t 'home.baguettes_baker1_comment' %>
                </div>
              </div>
              <div class="project-item-makers">
                <div class="project-item-maker">
                  <%= image_tag('baker1.jpg', :class => "avatar", :alt => "karla", :srcset => "assets/baker1.jpg 1x, assets/baker1.jpg 2x", :width => "35", :height => "35") %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="project-item-container">
          <div class="project-item">
            <div class='project-item-head'>
              <div class="project-thumbnail" style="background: url(assets/baguette2.jpg);background-size:cover;background-position:center center;">
              </div>
            </div>
            <div class="project-item-infos">
              <div class="project-item-infos-left">
                <div class="project-item-name">
                  <%= raw t 'home.baguettes_baker2' %>
                </div>
                <div class="project-item-tagline">
                  <%= raw t 'home.baguettes_baker2_comment' %>
                </div>
              </div>
              <div class="project-item-makers">
                <div class="project-item-maker">
                  <%= image_tag('baker2.jpg', :class => "avatar", :alt => "jean", :srcset => "assets/baker2.jpg 1x, assets/baker2.jpg 2x", :width => "35", :height => "35") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="projects-list-inside">
        <div class="project-item-container">
          <div class="project-item">
            <div class='project-item-head'>
              <div class="project-thumbnail" style="background: url(assets/baguette3.png);background-size:cover;background-position:center center;">
              </div>
            </div>
            <div class="project-item-infos">
              <div class="project-item-infos-left">
                <div class="project-item-name">
                  <%= raw t 'home.baguettes_baker3' %> 
                </div>
                <div class="project-item-tagline">
                  <%= raw t 'home.baguettes_baker3_comment' %>
                </div>
              </div>
              <div class="project-item-makers">
                <div class="project-item-maker">
                  <%= image_tag('baker1.jpg', :class => "avatar", :alt => "bryce", :srcset => "assets/baker3.png 1x, assets/baker3.png 2x", :width => "35", :height => "35") %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="project-item-container">
          <div class="project-item">
            <div class='project-item-head'>
              <div class="project-thumbnail" style="background: url(assets/baguette4.jpg);background-size:cover;background-position:center center;">
              </div>
            </div>
            <div class="project-item-infos">
              <div class="project-item-infos-left">
                <div class="project-item-name">
                  <%= raw t 'home.baguettes_baker4' %>
                </div>
                <div class="project-item-tagline">
                  <%= raw t 'home.baguettes_baker4_comment' %>
                </div>
              </div>
              <div class="project-item-makers">
                <div class="project-item-maker">
                  <%= image_tag('baker2.jpg', :class => "avatar", :alt => "", :srcset => "assets/baker4.jpg 1x, assets/baker4.jpg 2x", :width => "35", :height => "35") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center" id="more-projects">
        <a class="link-big" href="mailto:baketabaguette@gmail.com"><%= raw t 'home.baguettes_more' %></a>
      </div>
    </div>
    <br>
  </div>
  <!-- NEW PICS PARIS -->
  
  <!-- END -->
  <%= render './layouts/footer' %>
</body>