<body class="pages-program">
  <%= render './layouts/navbar' %>
  <div class="banner-container">
    <div class="container">
      <div class="banner banner-top banner-gradient text-center" style="background-image: url(<%= asset_path 'ingredients.jpg' %>);" id="banner-program">
        <div class="banner-gradient-shadow"></div>
        <div class="banner-content">
          <h1 class='glitch'>
            <h1 class='mathlete'><%= raw t('ingredients.title') %></h1>
          </h1>
          <p style="font-size: 26px;">
            <%= raw t('ingredients.subtitle') %>
          </p>
        </div>
      </div>
      <div class='banner-cta'>
        <%= link_to raw(t('kits.cta')), order_path, :class => "btn banner-cta-item btn-danger btn-lg", :style => "margin-left: 0px;" %>
      </div>
    </div>
  </div>
  <div class="two-columns hidden-xs" id="olivier">
    <div class="container">
      <div class="two-columns-description">
        <h2 class="section-header-big">
          <%= raw t('ingredients.first') %>
        </h2>
        <p class="text-readable text-opac">
          <p class="text-readable">
            <%= raw t('ingredients.first_p1') %>
          </p>
          <p class="text-readable">
            <%= raw t('ingredients.first_p2') %>
          </p>
          <p class="text-readable">
            <%= raw t('ingredients.first_p3') %>
          </p>
        </p>
        <p></p>
      </div>
      <div class='two-columns-image-container terminal'>
        <img class="two-columns-img" style="height:600px; margin-top: 100px;" src="<%= asset_path 'olivier.jpg' %>" alt="Olivier Deseine" />
      </div>
    </div>
  </div>
  <div class="bg-blue two-columns hidden-xs" id="yeast">
    <div class="container">
      <div class="two-columns-description" >
        <h2 class="section-header-big">
          <%= raw t('ingredients.second') %>
        </h2>
        <p class="text-readable" style="">
          <%= raw t('ingredients.second_p1') %>
          <ul>
            <li><%= raw t('ingredients.dry') %></li>
            <li><%= raw t('ingredients.fresh') %></li>
          </ul>
        </p>
        <p class="text-readable"><%= raw t('ingredients.yeast_text') %></p>
        <p class="text-readable" style="color: rgba(255, 255, 255, 0.9);">
          <ul>
            <li><%= raw t('ingredients.yeast_temperature') %></li>
            <li><%= raw t('ingredients.yeast_salt') %></li>
          </ul>
        </p>
        <p></p>
      </div>
      <div class='two-columns-image-container slack'>
        <img class="two-columns-img  two-columns-img-right" style="height:600px; margin-top: 0px;" src="<%= asset_path 'assets/yeast3.png' %>" alt="Seeds" />
      </div>
    </div>
  </div>
  
  <%= render './layouts/footer' %>
</body>