<body class="pages-program">
  <%= render './layouts/navbar' %>
  <div class="banner-container">
    <div class="container">
      <div class="banner banner-top banner-gradient text-center" style="background-image: url(<%= asset_path 'kits.jpg' %>);" id="banner-program">
        <div class="banner-gradient-shadow"></div>
        <div class="banner-content">
          <h1 class='glitch'>
            <h1 class='mathlete'><%= raw t('kits.title') %></h1>
          </h1>
          <p style="font-size: 26px;">
            <%= raw t('kits.subtitle') %>
          </p>
        </div>
      </div>
      <div class='banner-cta'>
        <%= link_to raw(t('kits.cta')), order_path, :class => "btn banner-cta-item btn-danger btn-lg", :style => "margin-left: 0px;" %>
      </div>
    </div>
  </div>
  <div class="two-columns hidden-xs" id="parisian">
    <div class="container">
      <div class="two-columns-description">
        <h2 class="section-header-big">
          <%= raw t('kits.first') %>
        </h2>
        <p class="text-readable text-opac">
          <p class="text-readable">
            <%= raw t('kits.first_p1') %>
          </p>
          <p class="text-readable">
            <%= raw t('kits.first_p2') %>
          </p>
        </p>
        <ul>
          <li><%= raw t('kits.parisian_inside1') %></li>
          <li><%= raw t('kits.parisian_inside2') %></li>
          <li><%= raw t('kits.parisian_inside8') %></li>
          <li><%= raw t('kits.parisian_inside3') %></li>
          <li><%= raw t('kits.parisian_inside4') %></li>
          <li><%= raw t('kits.parisian_inside5') %></li>
          <li><%= raw t('kits.parisian_inside9') %></li>
          <li><%= raw t('kits.parisian_inside6') %></li>
          <li><%= raw t('kits.parisian_inside7') %></li>
        </ul>
        <p class="text-readable text-opac">
          <p class="text-readable">
            <%= raw t('kits.first_p3') %>
          </p>
        </p>
 <!--        <ul>
          <li><%# raw t('kits.parisian_outside1') %></li>
          <li><%# raw t('kits.parisian_outside2') %></li>
        </ul> -->
        <p></p>
        <%# form_tag charges_path, id: 'chargeForm', class: 'form-inline' do %>
          <script src="https://checkout.stripe.com/checkout.js"></script>
          <%= hidden_field_tag 'stripeToken' %>
          <%= hidden_field_tag 'stripeEmail' %>
          <%= hidden_field_tag 'amount', 1990 %>

          <br></br>
          <div class='banner-cta'>
            <button id="btn-buy" type="button" class="btn banner-cta-item btn-danger btn-lg"><%= raw t('kits.parisian_order') %></button>
          </div>
           <script>
          //   var handler = StripeCheckout.configure({
          //     key: '<%= Rails.configuration.stripe[:publishable_key] %>',
          //     token: function(token, arg) {
          //       document.getElementById("stripeToken").value = token.id;
          //       document.getElementById("stripeEmail").value = token.email;
          //       document.getElementById("chargeForm").submit();
          //     }
          //   });
          //    document.getElementById('btn-buy').addEventListener('click', function(e) {
          //     handler.open({
          //       name: "Bake Ta Baguette",
          //       description: 'French Baking Experience',
          //       amount: document.getElementById("amount").value,
          //       currency: "eur"
          //   });
          //   e.preventDefault();
          //   })
          // </script>
          <script>
            document.getElementById('btn-buy').onclick = function() {
              location.href = 'order';
            };
          </script>
        <%# end %>
      </div>
      <div class='two-columns-image-container terminal'>
        <img class="two-columns-img" style="height:600px; margin-top: 100px;" src="<%= asset_path 'kitsquare.jpg' %>" alt="Parisian Kit" />
      </div>
    </div>
  </div>
<!--   <div class="bg-blue two-columns hidden-xs" id="seeds">
    <div class="container">
      <div class="two-columns-description" >
        <h2 class="section-header-big">
          <%# raw t('kits.second') %>
        </h2>
        <p class="text-readable" style="color: rgba(255, 255, 255, 0.9);">
          <%# raw t('kits.second_p1') %>
        </p>
        <ul>
          <li><%# raw t('kits.countryside_inside1') %></li>
          <li><%# raw t('kits.countryside_inside2') %></li>
          <li><%# raw t('kits.countryside_inside3') %></li>
          <li><%# raw t('kits.countryside_inside4') %></li>
          <li><%# raw t('kits.countryside_inside5') %></li>
          <li><%# raw t('kits.countryside_inside6') %></li>
          <li><%# raw t('kits.countryside_inside7') %></li>
        </ul>
        <p></p>
        <%# form_tag charges_path, id: 'chargeForm', class: 'form-inline' do %>
          <script src="https://checkout.stripe.com/checkout.js"></script>
          <%# hidden_field_tag 'stripeToken' %>
          <%# hidden_field_tag 'stripeEmail' %>
          <%# hidden_field_tag 'amount', 1590 %>

          <br></br>
          <div class='banner-cta'>
            <button id="btn-buy" type="button" class="btn banner-cta-item btn-danger btn-lg">Order your countryside kit(s) for €<span id="cost">15,90</span></button>
          </div>
          <script>
            var handler = StripeCheckout.configure({
              key: '<%# Rails.configuration.stripe[:publishable_key] %>',
              token: function(token, arg) {
                document.getElementById("stripeToken").value = token.id;
                document.getElementById("stripeEmail").value = token.email;
                document.getElementById("chargeForm").submit();
              }
            });
             document.getElementById('btn-buy').addEventListener('click', function(e) {
              handler.open({
                name: "Bake Ta Baguette",
                description: 'French Baking Experience',
                amount: document.getElementById("amount").value,
                currency: "eur"
            });
            e.preventDefault();
            })
          </script>
        <%# end %>
      </div>
      <div class='two-columns-image-container slack'>
        <img class="two-columns-img  two-columns-img-right" style="height:600px; margin-top: 0px;" src="<%# asset_path 'assets/graines.jpg' %>" alt="Seeds" />
      </div>
    </div> -->
  </div>
  
  <%= render './layouts/footer' %>
  <script type="text/javascript">console.log('coucou: <%= Rails.configuration.stripe[:stripe_publishable_key] %>')</script>
  <script type="text/javascript">
    $('#order_quantity').change(function(){ 
      var value = parseInt($(this).val());
      $('#cost').html(8*value);
      $('input[name=amount]')[0].setAttribute('value', 800*value); 
    });
  </script>
</body>