<body class="pages-home" data-no-turbolink="true">
  <%= render './layouts/navbar' %>
  
  <body class="applies-new">
    
  <div class="container">
    Thanks a lot for your interest in our kit. It means a lot to us.
    
    <h2>In Paris ?</h2>
    Right now our kits can be delivered at your hotel for no cost. Please drop us a mail here mentioning your name, contact details, number of kits you would be interested in and the place you would like the kits being delivered. Thanks!
    
    <h2>Not in Paris ? Why ?!</h2>
    If you are interested in international delivery, please drop us a mail here letting us know the shipping address, and the number of kits you would like!
    <br></br>

    <%# form_tag charges_path, id: 'chargeForm', class: 'form-inline' do %>
      <script src="https://checkout.stripe.com/checkout.js"></script>
      <%= hidden_field_tag 'stripeToken' %>
      <%= hidden_field_tag 'stripeEmail' %>
      <%= hidden_field_tag 'amount', 1990 %>
      <!-- <div class="apply-form-row is-mandatory"><label><i class="mdi mdi-account"></i><span>First name</span></label><input type="text" tabindex="1" placeholder="Karla" id="first_name"/></div>
      <div class="apply-form-row is-mandatory"><label><i class="mdi mdi-format-text"></i><span data-reactid="216">Last name</span></label><input type="text" tabindex="2" placeholder="Turing" id="last_name" name="application[last_name]"/></div>
      <div class="apply-form-row is-mandatory"><label><i class="mdi mdi-crown"></i><span>How many kits?</span></label><input type="number" tabindex="1" placeholder="1" id="order_quantity"/></div>
      <div class="apply-form-row is-mandatory"><label><i class="mdi mdi-email-open"></i><span>Address in Paris</span></label><input type="text" tabindex="4" placeholder="24 rue Joubert, 75009 PARIS" id="order_delivery"/></div>
      <br></br>
      <div class='banner-cta'>
        <button id="btn-buy" type="button" class="btn banner-cta-item btn-danger btn-lg">Order your Parisian kit(s) for €<span id="cost">19,90</span></button>
      </div> -->
      <script>
      //   var handler = StripeCheckout.configure({
      //     key: '<%= Rails.configuration.stripe[:publishable_key] %>',
      //     token: function(token, arg) {
      //       document.getElementById("stripeToken").value = token.id;
      //       document.getElementById("stripeEmail").value = token.email;
      //       document.getElementById("chargeForm").submit();
      //     }
      //   });
      //    document.getElementById('btn-buy').addEventListener('click', function(e) {
      //     handler.open({
      //       name: "Bake Ta Baguette",
      //       description: 'French Baking Experience',
      //       amount: document.getElementById("amount").value,
      //       currency: "eur"
      //   });
      //   e.preventDefault();
      //   })
      // </script>
    <%# end %>
  </div>

  <%= render './layouts/footer' %>
</body>