<body class="pages-home">
  <%= render './layouts/navbar' %>
  <div class="banner-container">
    <div class="container">
      <div class="banner banner-top banner-gradient text-center" style="background-image: url(<%= asset_path 'recipe.jpg' %>);" id="banner-program">
        <div class="banner-gradient-shadow"></div>
        <div class="banner-content">
          <h1 class='glitch'>
            <h1 class='mathlete'><%= raw t('recipe.title') %></h1>
          </h1>
          <p style="font-size: 26px;">
            <%= raw t('recipe.subtitle') %>
          </p>
        </div>
      </div>
      <div class='banner-cta'>
        <%= link_to raw(t('recipe.cta')), order_path, :class => "btn banner-cta-item btn-danger btn-lg", :style => "margin-left: 0px;" %>
      </div>
    </div>
  </div>
  <!-- <div class="features-wrapper up">
    <div class="container features-container">
      <h2 class='section-title-home'>
        <div class='section-title-home-content' style="font-size:30px;">
          <%# raw t 'recipe.levels' %>
        </div>
      </h2>
      <div class='features'>
        <div class='feature'>
          <div class='feature-header'>
            <div class='feature-icon yellow'>
              <i class='mdi mdi-timer'></i>
            </div>
            <h2 class='feature-title'>
              <%# raw t 'recipe.lazy' %>
            </h2>
          </div>
          <div class='feature-body'>
            <%# raw t 'recipe.lazytext' %>
          </div>
          <div class="text-center" style="margin-top: 50px;">
            <a class="link" href="#lazy"><%# raw t 'recipe.lazyread' %></a>
          </div>
        </div>
        <div class='feature'>
          <div class='feature-header'>
            <div class='feature-icon green'>
              <i class='mdi mdi-flag-variant'></i>
            </div>
            <h2 class='feature-title'>
              <%# raw t 'recipe.workshop' %>
            </h2>
          </div>
          <div class='feature-body'>
            <%# raw t 'recipe.workshoptext' %>
          </div>
          <div class="text-center" style="margin-top: 50px;">
            <a class="link" href="#lazy"><%# raw t 'recipe.workshopread' %></a>
          </div>
        </div>
        <div class='feature'>
          <div class='feature-header'>
            <div class='feature-icon purple'>
              <i class='mdi mdi-emoticon-excited'></i>
            </div>
            <h2 class='feature-title'>
              <%# raw t 'recipe.ultimate' %>
            </h2>
          </div>
          <div class='feature-body'>
            <%# raw t 'recipe.ultimatetext' %>
            <br>
          </div>
          <div class="text-center" style="margin-top: 50px;">
            <a class="link" href="#lazy"><%# raw t 'recipe.ultimateread' %></a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="hidden-xs">
    <div class="day-type-overlay" id="typical-day">
      <div data-react-class="DayType" data-react-props="{&quot;title&quot;:&quot;<%= raw t('recipe.ingredients') %>&quot;,&quot;steps&quot;:[{&quot;image&quot;:&quot;<%= asset_path 'flour.jpg' %>&quot;,&quot;description&quot;:&quot;<%= raw t('recipe.flour') %>&quot;,&quot;hour&quot;:&quot;334 g&quot;,&quot;circle_color&quot;:&quot;day-circle-red&quot;,&quot;active&quot;:false},{&quot;image&quot;:&quot;<%= asset_path 'yeast3.png' %>&quot;,&quot;description&quot;:&quot;<%= raw t('recipe.yeast') %>&quot;,&quot;hour&quot;:&quot;4 g&quot;,&quot;circle_color&quot;:&quot;day-circle-blue&quot;},{&quot;image&quot;:&quot;<%= asset_path 'levain.jpg' %>&quot;,&quot;description&quot;:&quot;<%= raw t('recipe.leaven') %>&quot;,&quot;hour&quot;:&quot;15 g&quot;,&quot;circle_color&quot;:&quot;day-circle-orange&quot;,&quot;active&quot;:false},{&quot;image&quot;:&quot;<%= asset_path 'salt.png' %>&quot;,&quot;description&quot;:&quot;<%= raw t('recipe.salt') %>&quot;,&quot;hour&quot;:&quot;8 g&quot;,&quot;circle_color&quot;:&quot;day-circle-blue&quot;},{&quot;image&quot;:&quot;<%= asset_path 'water.jpg' %>&quot;,&quot;description&quot;:&quot;<%= raw t('recipe.water') %>&quot;,&quot;hour&quot;:&quot;250 mL&quot;,&quot;circle_color&quot;:&quot;day-circle-red&quot;}, {&quot;image&quot;:&quot;<%= asset_path 'graines.jpg' %>&quot;,&quot;description&quot;:&quot;<%= raw t('recipe.seeds') %>&quot;,&quot;hour&quot;:&quot;334 g&quot;,&quot;circle_color&quot;:&quot;day-circle-blue&quot;,&quot;active&quot;:false}]}">
        <div data-reactroot="" data-reactid="1" data-react-checksum="1872355215">
          <div class="row" data-reactid="2">
            <div class="timeline-overlay" data-reactid="3">
              <div class="story-label-container story-label-container-program" data-reactid="4">
                <div class="story-label yellow" data-reactid="5">
                  <!-- <i class="fa fa-sun-o" data-reactid="6"></i> -->
                </div>
                <span style="color:white;padding-left:10px;" data-reactid="7"><%= raw t('recipe.recipe') %></span>
              </div>
              <div class="day-type-detail-container" data-reactid="8">
                <div data-reactid="9">
                  <div class="day-type-detail hidden-xs is-active" style="background:url();background-size:cover;background-position:center center;" data-reactid="10"></div>
                  <div data-reactid="11"></div>
                  <div data-reactid="12"></div>
                  <div data-reactid="13"></div>
                  <div data-reactid="14"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- <h2 class="section-header-big">
      <%# raw t('recipe.timing') %>
    </h2>
    <%# raw t('recipe.timing1') %>
    <%# raw t('recipe.timing2') %>
    <%# raw t('recipe.timing3') %>
    <%# raw t('recipe.timing4') %>
    <%# raw t('recipe.timing5') %>
    <%# raw t('recipe.timing6') %>
    <%# raw t('recipe.timing7') %>     
    <br> -->
    <h2 class="section-header-big">
      <%= raw t('recipe.techniques') %>
    </h2>
    
    <h3><%= raw t('recipe.technique1') %></h3>
    <div class="row">
      <div class="col-md-3 images">
        <span class="pictures"><%= video_tag 'movierecipe.mov',  class: "picture-recipe", controls: true, muted: true %></span>
      </div>
      <div class="col-md-8 images">
        <%= raw t('recipe.technique1_details') %>
      </div>
    </div>

    <h3><%= raw t('recipe.technique2') %></h3>
    <div class="row">
      <div class="col-md-12 images">
        <%= raw t('recipe.technique2_details') %>
      </div>
    </div>

    <h3><%= raw t('recipe.technique3') %></h3>
    <div class="row">
      <div class="col-md-3 images">
        <span class="pictures"><%= video_tag 'faconnage.mp4',  class: "picture-recipe", controls: true %></span>
      </div>
      <div class="col-md-8 images">
        <%= raw t('recipe.technique3_details') %>
      </div>
    </div>
       
    <br>
    <h2 class="section-header-big">
      <%= raw t('recipe.steps_title') %>
    </h2>
    <h3><%= raw t('recipe.steps_subtitle') %></h3>
    <div class="card-faqs">
      <div class="card-faq-container">
        <div class="row">
          <h3 class="card-faq-question">
            <%= raw t('recipe.step1_title') %>
          </h3>
          <div class="col-md-12">
            <div class="card-faq">
              <div class="card-faq-answer">
                <p><%= raw t('recipe.step1') %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-faqs">
      <div class="card-faq-container">
        <div class="row">
          <h3 class="card-faq-question">
            <%= raw t('recipe.step2_title') %>
          </h3>
          <div class="col-md-12">
            <div class="card-faq">
              <div class="card-faq-answer">
                <p><%= raw t('recipe.step2') %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-faqs">
      <div class="card-faq-container">
        <div class="row">
          <h3 class="card-faq-question">
            <%= raw t('recipe.step3_title') %>
          </h3>
          <div class="col-md-12">
            <div class="card-faq">
              <div class="card-faq-answer">
                <p><%= raw t('recipe.step3') %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 images">
            <span class="pictures"><%= image_tag 'recipe3.jpg', class: "picture-recipe" %></span>
            <span class="pictures"><%= image_tag 'recipe333.jpg', class: "picture-recipe" %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-faqs">
      <div class="card-faq-container">
        <div class="row">
          <h3 class="card-faq-question">
            <%= raw t('recipe.step4_title') %>
          </h3>
          <div class="col-md-12">
            <div class="card-faq">
              <div class="card-faq-answer">
                <p><%= raw t('recipe.step4') %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-faqs">
      <div class="card-faq-container">
        <div class="row">
          <h3 class="card-faq-question">
            <%= raw t('recipe.step5_title') %>
          </h3>
          <div class="col-md-12">
            <div class="card-faq">
              <div class="card-faq-answer">
                <p><%= raw t('recipe.step5') %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-faqs">
      <div class="card-faq-container">
        <div class="row">
          <h3 class="card-faq-question">
            <%= raw t('recipe.step6_title') %>
          </h3>
          <div class="col-md-12">
            <div class="card-faq">
              <div class="card-faq-answer">
                <p><%= raw t('recipe.step6') %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-faqs">
          <div class="card-faq-container">
            <div class="row">
              <h3 class="card-faq-question">
                <%= raw t('recipe.step7_title') %>
              </h3>
              <div class="col-md-12">
                <div class="card-faq">
                  <div class="card-faq-answer">
                    <p><%= raw t('recipe.step7') %></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 images">
                <span class="pictures"><%= video_tag 'grigne.mp4',  class: "picture-recipe", controls: true %></span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-faqs">
          <div class="card-faq-container">
            <div class="row">
              <h3 class="card-faq-question">
                <%= raw t('recipe.step8_title') %>
              </h3>
              <div class="col-md-12">
                <div class="card-faq">
                  <div class="card-faq-answer">
                    <p><%= raw t('recipe.step8') %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-faqs">
          <div class="card-faq-container">
            <div class="row">
              <h3 class="card-faq-question">
                <%= raw t('recipe.step9_title') %>
              </h3>
              <div class="col-md-12">
                <div class="card-faq">
                  <div class="card-faq-answer">
                    <p><%= raw t('recipe.step9') %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 images">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="hidden-xs" id="hard-recipe">
    <div class="timeline-overlay">
      <div class="story-label-container story-label-container-program">
        <div class="story-label yellow"></div>
        <span style="color: white; padding-left: 10px;">Recipe 'à la Française' with a lot of rest! To come...</span>
      </div>
      <div class="day-type-detail-container">
        <div>
          <div class="day-type-detail hidden-xs is-active" style="background: url('<%# asset_path('flour.jpg')%>') center center / cover;"></div>
        </div>
      </div>
    </div>
  </div> -->
  <%= render './layouts/footer' %>
</body>