<body class="pages-home">
  <%= render './layouts/navbar' %>
  <div class="banner-enterprise" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.1) 80%), url(<%= image_path 'workshopentreprise.jpg' %>)">
    <div class="banner-content container">
      <h1>
        <%= raw t('workshopentreprise.title') %>
      </h1>
      <p>
        <%= raw t('workshopentreprise.subtitle') %>
      </p>
      <a class="typeform-share button btn btn-danger" href="https://baketabaguette.typeform.com/to/LOuTSK" data-mode="popup" target="_blank" ><%= raw t('workshopentreprise.cta') %></a>
    </div>
  </div>
  <div style="background-color: #F4F4F4; padding: 70px 0;">
    <div class="container">
      <h2 class='section-title-home' style="font-size:30px;">
        <div class='section-title-home-content'>
          <%= raw t('workshopentreprise.description_title') %>
        </div>
      </h2>
      <p class="text-center" style="font-size: 21px;font-weight: 100;opacity: 0.8;max-width: 600px;margin: 50px auto;">
        <%= raw t('workshopentreprise.description') %>
      </p>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-enterprise-skill">
            <div>
              <h3>
                <span><%= raw t('workshopentreprise.step1_title') %></span>
<!--                 <i class="devicons devicons-trello" style="color: #026AA7;"></i>
 -->              </h3>
              <p>
                <%= raw t('workshopentreprise.step1_description') %>
              </p>
              <p>
                <a href="https://baketabaguette.typeform.com/to/LOuTSK" data-mode="popup" target="_blank" class="btn btn-default typeform-share button" style="margin-bottom: 0px;"><%= raw t('workshopentreprise.step1_cta') %></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-enterprise-skill">
            <div>
              <h3>
                <span><%= raw t('workshopentreprise.step2_title') %></span>
<!--                 <img style="height: 40px; margin-bottom: 10px; display: inline-block" src="/assets/technos/enterprise-sketch-7f46955ef9a9f90e44a2dc91717b471d48287e8148871b827a24be7630aeaf53.jpg" alt="Enterprise sketch" />
 -->              </h3>
              <p>
                <%= raw t('workshopentreprise.step2_description') %>
              </p>
              <p>
                <a href="https://baketabaguette.typeform.com/to/LOuTSK" data-mode="popup" target="_blank" class="btn btn-default typeform-share button" style="margin-bottom: 0px;"><%= raw t('workshopentreprise.step2_cta') %></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-enterprise-skill">
            <div>
              <h3>
                <span><%= raw t('workshopentreprise.step3_title') %></span>
              </h3>
              <p>
                <%= raw t('workshopentreprise.step3_description') %>
              </p>
              <p>
                <a href="https://baketabaguette.typeform.com/to/LOuTSK" data-mode="popup" target="_blank" class="btn btn-default typeform-share button" style="margin-bottom: 0px;"><%= raw t('workshopentreprise.step3_cta') %></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render './layouts/footer' %>
</body>