 <div id="footer">
  <div class="container">
    <div data-react-class="NewsletterForm">
      <div data-reactroot class="newsletter">
        <h2><%= raw t 'footer.subscribe' %></h2>
        <p><%= raw t 'footer.subscribe_subtitle' %></p>

        <%= form_tag({controller: "pages", action: "subscribed"}, method: "get") do %>
          <div class="newsletter-input">
            <%= email_field_tag :email, nil, placeholder: "you@gmail.com", name: "email", required: "required",  class: "newsletter-input-email" %>
            <%= submit_tag(t('footer.subscribe_button'), class: "newsletter-input-button") %>
          </div>
        <% end %>

      </div>
    </div>
    <div class='brand-footer'>
<!--         <img src="logo.png" alt="logo baketabaguette" class="logo-baguette">
--> </div>
    <div class="flex">
      <div class='footer-section'>
        <h3>
          <%= raw t 'footer.section1' %>
        </h3>
        <div class='footer-section-links'>
          <div>
            <a href="#" target='_blank'>
            <%= raw t 'footer.section1_1' %>
            </a>
          </div>
        </div>
      </div>
      <div class='footer-section'>
        <h3>
          <%= raw t 'footer.section2' %>
        </h3>
        <div class='footer-section-links'
          >
          <div>
            <a href="">
            <%= raw t 'footer.section2_1' %>
            </a>            
          </div>
          <div>
            <%= link_to t('footer.section2_2'), kits_path %>
          </div>
          <div>
            <%= link_to t('footer.section2_3'), workshop_path %>          
          </div>
        </div>
      </div>
      <div class='footer-section'>
        <h3>
          <%= raw t 'footer.section3' %>
        </h3>
        <div class='footer-section-links'>
          <div>
            <%= link_to t('footer.section3_1'), about_path %>
          </div>
          <div>
            <a href="mailto:baketabaguette@gmail.com"><%= raw t 'footer.section3_3' %></a>
          </div>
        </div>
      </div>
      <div class='footer-section'>
        <h3>
          <%= raw t 'footer.section4' %>
        </h3>
        <div class='footer-section-links'>
          <div>
            <a href="https://www.facebook.com/baketabaguette" target="_blank"><%= raw t 'footer.section4_1' %></a>
          </div>
          <div>
            <a href="https://www.instagram.com/baketabaguette/" target="_blank"><%= raw t 'footer.section4_3' %></a>
          </div>
          <div>
            <a href="https://twitter.com/baketabaguette" target="_blank"><%= raw t 'footer.section4_2' %></a>
          </div>
          <div>
            <a href="https://www.tripadvisor.fr/Attraction_Review-g187147-d12588005-Reviews-Bake_Ta_Baguette-Paris_Ile_de_France.html" target="_blank"><%= raw t 'footer.section4_4' %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- IUBENDA COOKIE TRACKING -->
<!-- INTERCOM -->
<!-- TO DO -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100784983-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- END -->
<!-- MIXPANEL, FB PIXELS, HOTJAR SETTINGS -->