<nav class="navbar-baguette navbar-baguette-white">
  <div class="container navbar-baguette-container">
    <div class='navbar-baguette-side'>
      <div class="dropdown hidden-md hidden-lg">
        <a class='navbar-baguette-link-menu-wrapper' type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <div class='navbar-baguette-link-menu'></div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li class='main'><%= link_to t('navbar.kits'), kits_path %></li>
          <li class='main'><%= link_to t('navbar.recipe'), recipe_path %></li>
          <li class='main'><%= link_to t('navbar.ingredients'), ingredients_path %></li>
          <li class='main'><%= link_to t('navbar.history'), history_path %></li>
          <li class='main'><%= link_to t('navbar.faq'), faq_path %></li>
          <li class='main'><%= link_to t('navbar.workshop'), workshop_path %></li>
          <li class='main hidden-md hidden-lg'><%= link_to t('navbar.order'), order_path %></li>
          <li class="main hidden-md hidden-lg">
            <div class="flags-smartphone">
              <a style="opacity: .3" href="/fr">
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56 40" enable-background="new 0 0 56 40" xml:space="preserve">
                  <g>
                    <rect fill="#FFFFFF" width="56" height="40"/>
                    <rect fill="#3B6AC3" width="18" height="40"/>
                    <rect x="38" fill="#FF0000" width="18" height="40"/>
                  </g>
                </svg>
              </a>
              <a href="/">
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56 40" enable-background="new 0 0 56 40" xml:space="preserve">
                  <g>
                    <rect fill="#001468" width="56" height="40"/>
                    <path fill="#FFFFFF" d="M56,40h-6L34,27v13H22V27L6,40H0v-4l12-10H0V14h12L0,4V0h6l16,13V0h12v13L50,0h6v4L44,14h12v12H44l12,10V40
                      z"/>
                    <path fill="#FF0000" d="M53,40L36,26h5l15,13v1H53z M32,40h-8V24H0v-8h24V0h8v16h24v8H32V40z M36,14L53,0h3v1L41,14H36z M0,1V0h3
                      l17,14h-5L0,1z M20,26L3,40H0v-1l15-13H20z"/>
                  </g>
                </svg>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="hidden-xs hidden-sm">
        <span class='flag-container'>
          <div>
            <div class="dropdown">
              <div class="dropdown-toggle" type="button" id="languageMenuToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56 40" enable-background="new 0 0 56 40" xml:space="preserve">
                  <g>
                    <% if I18n.locale == :en %>
                      <rect fill="#001468" width="56" height="40"/>
                      <path fill="#FFFFFF" d="M56,40h-6L34,27v13H22V27L6,40H0v-4l12-10H0V14h12L0,4V0h6l16,13V0h12v13L50,0h6v4L44,14h12v12H44l12,10V40
                        z"/>
                      <path fill="#FF0000" d="M53,40L36,26h5l15,13v1H53z M32,40h-8V24H0v-8h24V0h8v16h24v8H32V40z M36,14L53,0h3v1L41,14H36z M0,1V0h3
                        l17,14h-5L0,1z M20,26L3,40H0v-1l15-13H20z"/>
                    <% elsif I18n.locale == :fr %>
                      <rect fill="#FFFFFF" width="56" height="40"/>
                      <rect fill="#3B6AC3" width="18" height="40"/>
                      <rect x="38" fill="#FF0000" width="18" height="40"/>
                    <% end %>
                  </g>
                </svg>
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu" aria-labelledby="languageMenuToggle" id="languageMenu">
                <li>
                  <%= link_to url_for(:locale => 'en' ) do %>
                    <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 56 40" enable-background="new 0 0 56 40" xml:space="preserve">
                      <g>
                        <rect fill="#001468" width="56" height="40"/>
                        <path fill="#FFFFFF" d="M56,40h-6L34,27v13H22V27L6,40H0v-4l12-10H0V14h12L0,4V0h6l16,13V0h12v13L50,0h6v4L44,14h12v12H44l12,10V40
                          z"/>
                        <path fill="#FF0000" d="M53,40L36,26h5l15,13v1H53z M32,40h-8V24H0v-8h24V0h8v16h24v8H32V40z M36,14L53,0h3v1L41,14H36z M0,1V0h3
                          l17,14h-5L0,1z M20,26L3,40H0v-1l15-13H20z"/>
                      </g>
                    </svg>
                    <p>English</p>
                  <% end %>
                </li>
                <li>
                  <%= link_to url_for(:locale => 'fr' ) do %>
                    <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 56 40" enable-background="new 0 0 56 40" xml:space="preserve">
                      <g>
                        <rect fill="#FFFFFF" width="56" height="40"/>
                        <rect fill="#3B6AC3" width="18" height="40"/>
                        <rect x="38" fill="#FF0000" width="18" height="40"/>
                      </g>
                    </svg>
                    <p>Français</p>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </span>
      </div>
      <div class="left hidden-sm hidden-xs">
        <div class="navbar-baguette-item has-no-padding">
          <%= link_to t('navbar.kits'), kits_path, :class => "hidden-xs  navbar-baguette-link", :id => "navbar-baguette-menu" %>
          <!-- <div class="dropdown">
            <%# link_to t('navbar.kits'), kits_path, :class => "hidden-xs  dropdown-toggle navbar-baguette-link", :id => "navbar-baguette-menu", data: { toggle: 'dropdown'} %>
            <div class="dropdown-menu dropdown-menu-right dropdown-cities">
              <div class="dropdown-cities-container text-center">
                <ul class="list-unstyled">
                  <li class="title">
                    <%# raw t('navbar.parisian_kit') %>
                  </li>
                  <li>
                    <%# link_to t('navbar.parisian_kit_details'), kits_path(:anchor => "parisian"), :class => "cta-enterprise red" %>
                  </li>
                </ul>
                <ul class="list-unstyled">
                  <li class="title" style="">
                    <%# raw t('navbar.countryside_kit') %>
                  </li>
                  <li style="padding: 3px 0px;">
                    <%# link_to t('navbar.countryside_kit_details'), kits_path(:anchor => "seeds"), :class => "cta-enterprise" %>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
        </div>
        <hr class='hidden-xs'>
        <div class="navbar-baguette-item has-no-padding">
          <%= link_to t('navbar.recipe'), recipe_path, :class => "hidden-xs  navbar-baguette-link", :id => "navbar-baguette-menu" %>
        </div>
        <hr class='hidden-xs'>
        <div class="navbar-baguette-item has-no-padding">
          <%= link_to t('navbar.ingredients'), ingredients_path, :class => "hidden-xs  navbar-baguette-link", :id => "navbar-baguette-menu" %>
        </div>
        <hr class='fake-hr hidden-sm hidden-xs'>
      </div>
    </div>
    <a class="baguette-link" href="/">
      <%= image_tag('logo.png', :class => "logo-baguette", :alt => "logo baketabaguette") %>
    </a>
    <div class="navbar-baguette-side text-right hidden-sm hidden-xs">
      <hr class='fake-hr hidden-xs'>
      <%= link_to t('navbar.history'), history_path, :class => "navbar-baguette-link" %>
      <hr class='hidden-xs'>
      <div class="navbar-baguette-item has-no-padding">
        <%= link_to t('navbar.faq'), faq_path, :class => "navbar-baguette-link" %>
      </div>
      <!-- UNCOMMENT FOR WORKSHOPS RELEASE -->
      <hr class="hidden-xs">
      <%= link_to t('navbar.workshop'), workshop_path, :class => "hidden-xs  dropdown-toggle navbar-baguette-link", :id => "navbar-baguette-menu", data: { toggle: 'dropdown', text: 'Workshops'} %>
      <!-- <div class="dropdown-menu dropdown-menu-right dropdown-cities">
        <div class="dropdown-cities-container text-center">
          <ul class="list-unstyled">
            <li class="title">
              <%# raw t('navbar.workshop_individual') %>
            </li>
            <li>
              <%# link_to t('navbar.workshop_individual_details'), workshop_path, :class => "cta-enterprise red" %>
            </li>
          </ul>
          <ul class="list-unstyled">
            <li class="title" style="">
              <%# raw t('navbar.workshop_entreprise') %>
            </li>
            <li style="padding: 3px 0px;">
              <%# link_to t('navbar.workshop_entreprise_details'), workshopentreprise_path, :class => "cta-enterprise" %>
            </li>
          </ul>
        </div>
      </div> -->
      <div class="left" id="navbar-apply">
        <%= link_to t('navbar.order'), order_path, :class => "navbar-baguette-link-cta" %>
      </div>
    </div>
  </div>
  </div>
</nav>
<div class="header-fixed">
  <div class="header-inner">
    <div class="container flex align-center">
      <div class=" dropdown full-item hidden-md hidden-lg">
        <a class='navbar-baguette-link-menu-wrapper' type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <div class='navbar-baguette-link-menu'></div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li class="main"><%= link_to t('navbar.kits'), kits_path %></li>
          <li class='main'><%= link_to t('navbar.ingredients'), ingredients_path %></li>
          <li class='main'><%= link_to t('navbar.recipe'), recipe_path %></li>
          <li class="main"><%= link_to t('navbar.history'), history_path %></li>
          <li class="main"><%= link_to t('navbar.faq'), faq_path %></li>
          <!-- <li class="main"><%# link_to t('navbar.workshop'), workshop_path %></li> -->
          <li class="main hidden-md hidden-lg"><%= link_to t('navbar.order'), order_path %></li>
          <li class="main hidden-md hidden-lg">
            <div class="flags-smartphone">
              <a style="opacity: .3" href="/fr">
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 56 40" enable-background="new 0 0 56 40" xml:space="preserve">
                  <g>
                    <rect fill="#FFFFFF" width="56" height="40"/>
                    <rect fill="#3B6AC3" width="18" height="40"/>
                    <rect x="38" fill="#FF0000" width="18" height="40"/>
                  </g>
                </svg>
              </a>
              <a href="/">
                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 56 40" enable-background="new 0 0 56 40" xml:space="preserve">
                  <g>
                    <rect fill="#001468" width="56" height="40"/>
                    <path fill="#FFFFFF" d="M56,40h-6L34,27v13H22V27L6,40H0v-4l12-10H0V14h12L0,4V0h6l16,13V0h12v13L50,0h6v4L44,14h12v12H44l12,10V40
                      z"/>
                    <path fill="#FF0000" d="M53,40L36,26h5l15,13v1H53z M32,40h-8V24H0v-8h24V0h8v16h24v8H32V40z M36,14L53,0h3v1L41,14H36z M0,1V0h3
                      l17,14h-5L0,1z M20,26L3,40H0v-1l15-13H20z"/>
                  </g>
                </svg>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class='header-fixed-logo'>
        <a class='baguette-link' href="/">
          <%= image_tag('logo.png', :class => "logo-baguette-small", :alt => "logo baketabaguette") %>
        </a>
      </div>
      <div class="header-inner-cta">
        <%= link_to t('navbar.order'), order_path, :class => "navbar-baguette-link-cta" %>
      </div>
    </div>
  </div>
</div>