<div class="container-fluid testimonials-wrapper">
  <h2 class="section-title-home" style="font-size:30px;">
    <div class="section-title-home-content" style="background-color: white;">
      <%= raw t 'home.testimonials' %>
    </div>
  </h2>
  <div id="testimonials-container" class="container testimonials-container">
    <div class="row">
      <!-- EXCERPT CONTENT -->
      <div class="col-md-6">
        <a class="read-more" data-toggle="modal" data-target="#fullTestimonial-baker1" href=""></a>
        <div class="testimonial-card">
          <div class="testimonial-body">
            <%= image_tag('baker1.jpg', :class => "alumni-picture", :alt => "Karla Lukic") %>
            <div class='testimonial-content'>
              <p><%= raw t 'home.baker1comment' %></p>
                <i class="read-more-text"><%= raw t 'home.testimore' %></i>
            </div>
            <div class="testimonial-author">
              <div class="testimonial-user-name">
                <%= raw t 'home.baker1' %>
              </div>
              <div class='testimonial-user-batch'>
                <%= raw t 'home.baker1description' %>
              </div>
              <div class='testimonial-user-batch'>
                <%= raw t 'home.baker1date' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL CONTENT -->
      <div class="modal fade" id="fullTestimonial-baker1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-testimonial" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-image: url(http://www.drafttournament.com/wp-content/uploads/2014/09/Phoenix.jpg)">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="alumni-profil">
                    <%= image_tag('baker1.jpg', :class => "alumni-picture", :alt => "Phoenix Karla Lukic") %>
                    <div class="alumni-details">
                      <h4 class="modal-title">
                        <%= raw t 'home.baker1' %>
                      </h4>
                      <span><%= raw t 'home.baker1modaldescription' %></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                      <%= image_tag('logo.png', :class => "logo-baguette logo-center", :alt => "logo") %>
                    </div>
                    <div class="col-xs-4 ">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="alumni-product-container">
                <h4><%= raw t 'home.baker1baguette' %></h4>
<!--                   <a href="/demoday/54/sportl">
-->                    <div class="video-thumbnail" style="background-image: url(assets/baguette1.jpg);">
                  </div>
                  <div class="video-details">
                    <h4><%= raw t 'home.baker1secondcomment' %></h4>
                  </div>
<!--                   </a>
-->                </div>
            </div>
          </div>
        </div>
      </div>

      <!-- EXCERPT CONTENT -->
      <div class="col-md-6">
        <a class="read-more" data-toggle="modal" data-target="#fullTestimonial-baker2" href=""></a>
        <div class="testimonial-card">
          <div class="testimonial-body">
            <%= image_tag('baker2.jpg', :class => "alumni-picture", :alt => "David Lankri") %>
            <div class='testimonial-content'>
              <p><%= raw t 'home.baker2comment' %></p>
                <i class="read-more-text"><%= raw t 'home.testimore' %></i>
            </div>
            <div class="testimonial-author">
              <div class="testimonial-user-name">
                <%= raw t 'home.baker2' %>
              </div>
              <div class='testimonial-user-batch'>
                <%= raw t 'home.baker2description' %>
              </div>
              <div class='testimonial-user-batch'>
                <%= raw t 'home.baker2date' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL CONTENT -->
      <div class="modal fade" id="fullTestimonial-baker2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-testimonial" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-image: url(assets/paris.jpg)">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="alumni-profil">
                    <%= image_tag('baker2.jpg', :class => "alumni-picture", :alt => "Paris David Lankri") %>
                    <div class="alumni-details">
                      <h4 class="modal-title">
                        <%= raw t 'home.baker2' %>
                      </h4>
                      <span><%= raw t 'home.baker2modaldescription' %></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                      <%= image_tag('logo.png', :class => "logo-baguette logo-center", :alt => "logo") %>
                    </div>
                    <div class="col-xs-4 ">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="alumni-product-container">
                <h4><%= raw t 'home.baker2baguette' %></h4>
<!--                   <a href="/demoday/54/sportl">
-->              <div class="video-thumbnail" style="background-image: url(assets/baguette2.jpg);"></div>
                <div class="video-details">
                    <h4><%= raw t 'home.baker2secondcomment' %></h4>
                </div>
<!--                   </a>
-->            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DEUXIEME LIGNE -->
    <div class="row">
      <!-- EXCERPT CONTENT -->
      <div class="col-md-6">
        <a class="read-more" data-toggle="modal" data-target="#fullTestimonial-baker3" href=""></a>
        <div class="testimonial-card">
          <div class="testimonial-body">
            <%= image_tag('baker3.png', :class => "alumni-picture", :alt => "Yves Lehmann") %>
            <div class='testimonial-content'>
              <p><%= raw t 'home.baker3comment' %></p>
                <i class="read-more-text"><%= raw t 'home.testimore' %></i>
            </div>
            <div class="testimonial-author">
              <div class="testimonial-user-name">
                <%= raw t 'home.baker3' %>
              </div>
              <div class='testimonial-user-batch'>
                <%= raw t 'home.baker3description' %>
              </div>
              <div class='testimonial-user-batch'>
                <%= raw t 'home.baker3date' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL CONTENT -->
      <div class="modal fade" id="fullTestimonial-baker3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-testimonial" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-image: url(assets/baker3city.jpg)">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="alumni-profil">
                    <%= image_tag('baker3.png', :class => "alumni-picture", :alt => "Paris Yves Lehmann") %>
                    <div class="alumni-details">
                      <h4 class="modal-title">
                        <%= raw t 'home.baker3' %>
                      </h4>
                      <span><%= raw t 'home.baker3modaldescription' %></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                      <%= image_tag('logo.png', :class => "logo-baguette logo-center", :alt => "logo") %>
                    </div>
                    <div class="col-xs-4 ">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="alumni-product-container">
                <h4><%= raw t 'home.baker3baguette' %></h4>
<!--                   <a href="/demoday/54/sportl">
-->              <div class="video-thumbnail" style="background-image: url(assets/baguette3.png);"></div>
                <div class="video-details">
                    <h4><%= raw t 'home.baker3secondcomment' %></h4>
                </div>
<!--                   </a>
-->            </div>
              
            </div>
          </div>
        </div>
      </div>

      <!-- EXCERPT CONTENT -->
      <div class="col-md-6">
        <a class="read-more" data-toggle="modal" data-target="#fullTestimonial-baker4" href="https://www.facebook.com/pg/baketabaguette/reviews/"></a>
        <div class="testimonial-card">
          <div class="testimonial-body">
            <%= image_tag('baker4.jpg', :class => "alumni-picture", :alt => "Djilali Zitouni") %>
            <div class='testimonial-content'>
              <p><%= raw t 'home.baker4comment' %></p>
                <i class="read-more-text"><%= raw t 'home.testimore' %></i>
            </div>
            <div class="testimonial-author">
              <div class="testimonial-user-name">
                <%= raw t 'home.baker4' %>
              </div>
              <div class='testimonial-user-batch'>
                <%= raw t 'home.baker4description' %>
              </div>
              <div class='testimonial-user-batch'>
                <%= raw t 'home.baker4date' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL CONTENT -->
      <div class="modal fade" id="fullTestimonial-baker4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-testimonial" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-image: url(assets/block.jpg)">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="alumni-profil">
                    <%= image_tag('baker4.jpg', :class => "alumni-picture", :alt => "Block Djilali Zitouni") %>
                    <div class="alumni-details">
                      <h4 class="modal-title">
                        <%= raw t 'home.baker4' %>
                      </h4>
                      <span><%= raw t 'home.baker4modaldescription' %></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                      <%= image_tag('logo.png', :class => "logo-baguette logo-center", :alt => "logo") %>
                    </div>
                    <div class="col-xs-4 ">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="alumni-product-container">
                <h4><%= raw t 'home.baker4baguette' %></h4>
<!--                   <a href="/demoday/54/sportl">
-->                    <div class="video-thumbnail" style="background-image: url(assets/baguette4.jpg);">
                  </div>
                  <div class="video-details">
                    <h4 style="text-align:center;"><%= raw t 'home.baker4secondcomment' %></h4>
                  </div>
<!--                   </a>
-->                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="paginator-testimonials">
    <a id="load_more_testimonials" class="more-testimonials" href="https://www.tripadvisor.fr/Attraction_Review-g187147-d12588005-Reviews-Bake_Ta_Baguette-Paris_Ile_de_France.html">
      < image_tag 'tripadvisor.png', class: 'tripadvisorlogo' %>
      < raw t 'home.testiTrip' %></a>
  </div> -->
</div>
<div class="testimonials-services">
  <h2 class="section-title-home" style="font-size:30px;">
    <div class="section-title-home-content" style="background-color: white;">
      <%= raw t 'workshop.morereviews' %>
    </div>
  </h2>
  <div class="services-logos">
    <a href="https://www.tripadvisor.fr/Attraction_Review-g187147-d12588005-Reviews-Bake_Ta_Baguette-Paris_Ile_de_France.html" target="_blank">
    	<%= image_tag 'tripadvisor-big.png' %>
    </a>
    <a href="https://www.tripadvisor.fr/Attraction_Review-g187147-d12588005-Reviews-Bake_Ta_Baguette-Paris_Ile_de_France.html" target="_blank">
      <%= image_tag 'facebook.png' %>
    </a>
  </div>
  <div class="services-logos">
    <a href="https://www.airbnb.fr/experiences/85015" target="_blank">
      <%= image_tag 'airbnb.png' %>
    </a>
  </div>
</div>