<!DOCTYPE html>
<html class="pages-home" lang="en">
	<head>
	  <title>Baker's kit Bake Ta Baguette | Bake your first French baguette with no effort</title>
	  <meta name="description" content="Be a French baker in the comfort of your own kitchen, with BakeTaBaguette it’s très simple.">

	  <meta charset="utf-8" />
	  <link rel="icon" href="<%= asset_path 'logo.png' %>" type="image/png" />

	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  <meta property="og:title" content="Baker's kit Bake Ta Baguette | Bake your first French baguette with no effort" />
	  <meta property="og:type" content="article" />
	  <meta property="og:url" content="https://www.baketabaguette.com/" />

	  <meta property="og:description" content="BakeTaBaguette is an easy & fun experience that let's you bake your first French baguette, eat it and enjoy French art de vivre!" />
	  <meta property="og:site_name" content="BakeTaBaguette" />
	  <!-- TO DO -->
	  <meta property="fb:admins" content="" />
	  <meta property="fb:app_id" content="" />
	  <meta name="twitter:card" content="summary_large_image">
	  <meta name="twitter:site" content="@baketabaguette">
	  <meta name="twitter:title" content="Be a French baker in the comfort of your own kitchen, with Bake Ta Baguette it’s très simple.">
	  <meta name="twitter:description" content="BakeTaBaguette is an easy & fun experience that let's you bake your first French baguette, eat it and enjoy French art de vivre!">
	  <meta name="twitter:creator" content="@baketabaguette">


	  <meta name="google-site-verification" content="" />
	  <!-- END -->
	  <link rel="alternate" hreflang="en" href="/" />
	  <link rel="alternate" hreflang="fr" href="/fr" />
	  <link rel="alternate" href="/" hreflang="x-default" />
	  <link rel="canonical" href="https://www.baketabaguette.com/" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <%= yield %>
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-100784983-1', 'auto');
	  ga('send', 'pageview');

	</script>
</html>
